

.dashboard {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #E5E5E5;
    overflow-x: hidden;

    .dashboard__main_area {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 82vw;
        height: calc(100vh - 70px);
        background: rgb(255, 255, 255);
        overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        z-index: 10;
    }

    .dashboard__main_area::-webkit-scrollbar {
        display: none;
    }
}