

.header {
    width: 100vw;
    height: fit-content;
    padding: 20px;
    background: #fff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

    .logo {
        margin-left: 20px;
        width: 8rem;
    }
}