

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    z-index: 50;

    .header__logo__wrapper {
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            margin-left: 20px;
            width: 8rem;
        }
    
        .navlinks_toggle-button {
            display: none;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            background: transparent;

            .navlinks_toggle-button_icon {
                font-size: 1.5rem;
                color: #213F7D;
            }
        }
    }

    

    .header__main-content__wrapper {
        width: 78%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__search-box {
            width: 36%;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border: 0.5px solid rgba(33, 64, 125, 0.201);
            border-radius: 8px;
            overflow: hidden;


            input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-button,
            input[type="search"]::-webkit-search-results-decoration {
                -webkit-appearance:none;
            }

            input::placeholder {
                font-size: 0.7rem;
                color: rgba(84, 95, 125, 0.6);
            }
            
            input::-webkit-input-placeholder {
                font-size: 0.7rem;
                color: rgba(84, 95, 125, 0.6);
            }
            
            input:-ms-input-placeholder {
                font-size: 0.7rem;
                color: rgba(84, 95, 125, 0.6);
            }

            .header-search-box_input {
                border: none;
                width: 85%;
                padding: 10px 20px;
                height: 100%;
                font-size: 0.75rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                outline: none;
            }

            .header__search-box_button {
                outline: none;
                border: none;
                width: 15%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #39cdcdd6;
                cursor: pointer;

                .header__search-icon {
                    width: 0.75rem;
                }
            }

            .header__search-box_button:hover {
                background: #39CDCC;
            }
        }

        .header__nav-links {
            width: 35%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: #213F7D;
    
            .header__docs-link {
                font-weight: 400;
                font-size: 0.85rem;
                line-height: 19px;
                color: #213F7D;
                text-decoration: underline;
            }
    
            .header__notification-icon {
                width: 1rem;
                cursor: pointer;
            }
    
            .header__profile-user-image-and-name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
    
                .header__user-profile-image__wrapper {
                    margin-right: 10px;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 50%;
    
                    .header__profile-user-image {
                        width: 100%;
                        object-fit: cover;
                    }
                }
    
                .header__profile-user-name {
                    margin-right: 5px;
                    font-weight: 500;
                    font-size: 0.85rem;
                    line-height: 19px;
                }
            }
        }
    }
}




// MEDIA QUERIES
@media (max-width: 950px) {
    .header {
        height: fit-content;
        padding: 15px 20px;
    
        .header__logo {
            width: 7rem;
        }
    
        .header__main-content__wrapper {
            width: 78%;
    
            .header__search-box {
                width: 36%;
                height: 35px;
    
                input::placeholder {
                    font-size: 0.6rem;
                }
                
                input::-webkit-input-placeholder {
                    font-size: 0.6rem;
                }
                
                input:-ms-input-placeholder {
                    font-size: 0.6rem;
                }
    
                .header-search-box_input {
                    width: 85%;
                    padding: 10px 20px;
                    height: 100%;
                    font-size: 0.65rem;
                }
    
                .header__search-box_button {
                    width: 15%;
                    height: 100%;
    
                    .header__search-icon {
                        width: 0.65rem;
                    }
                }
            }
    
            .header__nav-links {
                width: 43%;
        
                .header__docs-link {
                    font-size: 0.75rem;
                }
        
                .header__notification-icon {
                    width: 0.9rem;
                }
        
                .header__profile-user-image-and-name {
        
                    .header__user-profile-image__wrapper {
                        margin-right: 10px;
                        width: 40px;
                        height: 40px;
                    }
        
                    .header__profile-user-name {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 820px) {

}

@media (max-width: 640px) {
    .header {
        height: fit-content;
        padding: 20px 10px 10px 10px;
        flex-direction: column;
        align-items: flex-start;
        background-color: #ffffffe0;

        .header__logo__wrapper {
            width: 100%;
            padding: 0 10px;
    
            .header__logo {
                margin-left: 0;
                width: 6.5rem;
            }
        
            .navlinks_toggle-button {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                outline: none;
            }
        }
    
        .header__main-content__wrapper {
            display: none;
            margin-top: 20px;
            padding: 15px 0;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            .header__search-box {
                width: 87%;
                height: 35px;
    
                input::placeholder {
                    font-size: 0.55rem;
                }
                
                input::-webkit-input-placeholder {
                    font-size: 0.55rem;
                }
                
                input:-ms-input-placeholder {
                    font-size: 0.55rem;
                }
    
                .header-search-box_input {
                    width: 85%;
                    padding: 10px 20px;
                    height: 100%;
                    font-size: 0.6rem;
                }
    
                .header__search-box_button {
                    width: 15%;
                    height: 100%;
    
                    .header__search-icon {
                        width: 0.6rem;
                    }
                }
            }
    
            .header__nav-links {
                margin-top: 20px;
                width: 100%;
                height: 25vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
        
                .header__docs-link {
                    font-size: 0.7rem;
                }
        
                .header__notification-icon {
                    width: 0.85rem;
                }
        
                .header__profile-user-image-and-name {
        
                    .header__user-profile-image__wrapper {
                        margin-right: 10px;
                        width: 40px;
                        height: 40px;
                    }
        
                    .header__profile-user-name {
                        font-size: 0.7rem;
                    }
                }
            }
        }

        .header__main-content__wrapper.show {
            display: flex;
        }
    }
}