

.table {
    position: relative;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
        

        th {
            position: relative;
            text-align: left;
            text-align: top;
            padding: 15px 0px;
            font-weight: 700;
            font-size: 0.68rem;
            line-height: 14px;
            text-transform: uppercase;
            color: rgba(84, 95, 125, 0.904);

            .table__filter_icon {
                margin-left: 5px;
                width: 0.6rem;
                cursor: pointer;
            }
        }

        .organisation_column {
            width: 19%;
        }

        .username_column {
            width: 11%;
        }

        .email_column {
            width: 18%;
        }

        .phone-number_column {
            width: 13%;
        }

        .date-joined_column {
            width: 13%;
        }

        .status_column {
            width: 10%;
        }

        .last_column {
            width: 1%;
        }
    }
}

.table-loader {
    position: absolute;
    left: 48%;
    bottom: 10%;
    width: 3rem;
}



// MEDIA QUERIES
@media (max-width: 950px) {
    .table {
    
        thead {
            
            th {
                font-size: 0.58rem;
    
                .table__filter_icon {
                    margin-left: 3px;
                    width: 0.5rem;
                }
            }
        }
    }
}

@media (max-width: 820px) {
    .table {
    
        thead {
            
            th {
                font-size: 0.48rem;
    
                .table__filter_icon {
                    margin-left: 3px;
                    width: 0.4rem;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .table {
        min-width: 616px;
        min-height: 510px;
    }
}