

.users {
    padding: 45px 55px;
    background: transparent;

    .users__header_text {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 28px;
        color: #213F7D;
    }

    .users__stats-boxes_container {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        

    }

    
}